#mainpanel {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px; 
    justify-content: center;
        /* 가로 가운데 정렬 */
}
#main{
    margin-left: 280px;
    max-width: 900px;
}
#sidebarArea {
    width: 400px;
}
@media screen and (max-width: 1199px) {
    #main {
        width: 100%;
        margin-left: 0px;
    }

    #sidebarArea {
        display: none;
        /* 화면에서 아예 제거 */
    }
}

@media screen and (min-width: 1200px) {
    #main {
        max-width: 700px;
    }

    #sidebarArea {
        display: block;
        /* 사이드바를 보이도록 설정 */
    }
}