.main {
    max-width: 400px;
    /* 카드 가로 최대 크기를 300px로 설정 */
    margin: 0 auto;
    /* 중앙 정렬 */
    padding: 20px;
}

/* 큰 화면에서는 카드의 가로폭을 더 크게 할 수 있습니다 */
@media (min-width: 768px) {
    .main {
        max-width: 1200px;
        /* 예시: 큰 화면에서 카드 가로폭을 600px로 설정 */
    }
}

/* 화면이 작은 경우에는 카드 레이아웃을 100%로 확장 */
@media (max-width: 768px) {
    .main {
        width: 100%;
    }
}